<div class="container">
    <header class="row no-gutter">
        <div class="col-xs-10">
            <h1>JS MOVIE APP</h1>
        </div>
        <div class="col-xs-2">
            <a ui-sref="actors">Return to Actors List</a>
        </div>
    </header>
    <section ng-if="!editorEnabled">
        <div class="row">
            <actor-thumbnail class="col-xs-6" item="actor">
            </actor-thumbnail>
            <div class="col-xs-6">
                <div class="row">
                    <div class="btn-toolbar">
                        <div class="btn-group btn-group-lg" role="group" aria-label="...">
                            <button type="button" class="btn btn-default btn-warning" ng-click="enableEditor()">Edit</button>
                        </div>
                        <div class="btn-group btn-group-lg" role="group" aria-label="...">
                            <button type="button" class="btn btn-default btn-danger" really-message="Are you sure you want to remove: {{actor.Name}}?" really-click="deleteActor(actor)">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="actor-aside">
                        <h2>Movies starred by this Actor</h2>
                        <div class="actor-list row">
                            <movie-thumbnail class="col-xs-3 hidestuff" item="movie" ng-repeat="movie in relatedMovies"></movie-thumbnail>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section ng-if="editorEnabled" class="padding-20">
        <form name="editForm" ng-submit="saveActor(actor, relatedMovies)">
            <div class="form-group" ng-class="{'has-error': !editForm.fname.$valid }">
                <label for="fname">Full Name</label>
                <input type="text" class="form-control" id="fname" name="fname" ng-model="actor.Name" placeholder="Full Name" required>
            </div>
            <div class="form-group">
                <label for="image">Poster Image</label>
                <input type="file" id="image" name="image" accept="image/*" ng-model="actor.Poster" file-reader ng-show="!actor.Poster">
                <img ng-src="{{actor.Poster}}" alt="{{actor.Name}}" style="width: 100px" ng-show="!!actor.Poster">
                <button type="button" class="btn btn-default" ng-click="actor.Poster = null" ng-show="!!actor.Poster">Remove Image</button>
            </div>
            <h2>Movies starred by this Actor</h2>
            <div class="actor-list row">
                <movie-thumbnail class="col-xs-3" item="movie" ng-repeat="movie in relatedMovies"></movie-thumbnail>
            </div>
            <button type="button" class="btn btn-default" ng-click="addMovies()">Change Movies</button>
            <button type="submit" class="btn btn-success" ng-disabled="!editForm.$valid">Save</button>
            <button type="button" class="btn btn-danger" ng-click="enableEditor()">Cancel</button>
        </form>
    </section>
</div>
