<div class="modal-header">
    <h3 class="modal-title">Add Movies for this Actor</h3>
</div>
<div class="modal-body">
    <h1>Select a Movie</h1>
    Search Movie: <input type="text" ng-model="query">
    <br><br>
    <div class="row">
        <div class="selectableActor col-md-3 col-sm-4" ng-repeat="movie in Movies | filter:query" ng-click="movie.selected = !movie.selected" ng-class="{selected: movie.selected}">
          <div class="">
              <img class="media-object" ng-src="{{movie.Poster}}" alt="{{movie.Title}}">
          </div>
          <div class="">
            <h4 class="">{{movie.Title}}</h4>
            <span class="label" ng-class="{'label-success': movie.selected, 'label-danger': !movie.selected}">ADDED</span>
          </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="select()">Accept</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>