.padding-20 {
	padding: 20px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

header {
	h1 { 
		margin: 0;
	}
	.form-control {
		height: 39px;
	}
    button {
        height: 39px;
    }
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}
.hidestuff .poster {
    .poster-description {
        p { display: none; }
    }
    .poster-image--top-layer {
        display: none;
    }
}
.poster {
    cursor: pointer;
	width: 100%;
	padding: 10px;
	marging: 3px;
	border-bottom: 1px solid #CCC;
	.poster-description {
		h1 {
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bolder;
		}

	}

	.poster-image {
		position: relative;

		.poster-image--top-layer {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: 10;
			.poster-rating {
				position: absolute;
				top: 10px;
				right: 10px;
				background-color: red;
				padding: 10px;
				color: white;
				font-weight: bolder;

			}
			
		}
		.poster-image--bottom-layer {

			img {
				width: 100%;
				height: auto;
			}
			
		}
	}
}

/* Modal Styles */
.form-movies {
    padding: 20px;
}

.selectableActor {
    padding: 15px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 5px;
    min-height: 180px;
    width: 120px;
    background-color: #EEE;

    img {
        width: 100%;
        height: auto;
    }

    &:hover {
        background-color: #c9e5ef;
    }

    &.selected {
        -webkit-box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.75);
        background-color: #FFF;
    }
}
.actor-aside {
	border: 1px solid #CCC;
	margin-top: 20px;
	padding: 10px;
}
.actor-list {
    margin: 20px;
}