<div class="container padding-20">
    <header class="row no-gutter">
        <div class="col-xs-9">
            <h1>JS MOVIE APP</h1>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="afilter" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"  ng-click="setFilter()">Go!</button>
                </span>
            </div>
        </div>
    </header>
    <div class="row no-gutter">
        <movie-thumbnail class="col-xs-3" item="coso" ng-repeat="coso in movies | filter:titleFilter | orderBy:'-updated'">
        </movie-thumbnail>
    </div>
    <ul>
        <li><a ui-sref="movie">Add new Movie</a></li>
        <li><a ui-sref="actors">Go to List of Actors</a></li>
    </ul>
     

    
</div>
