<article class="poster" ng-click="go(item.Id)">
	<div class="poster-image">
		<div class="poster-image--top-layer">
			<div class="poster-rating">
				{{item.Rating | number:0}}
			</div>
		</div>
		<div class="poster-image--bottom-layer">
		    <img ng-src="{{item.Poster}}" alt="{{item.Title}}">
		</div>
	</div>
	<div class="poster-description">
		<h1>{{item.Title}}</h1>
		<p>{{item.About}}</p>
	</div>
</article>