<div class="container padding-20">
    <header class="row no-gutter">
        <div class="col-xs-9">
            <h1>JS MOVIE APP</h1>
        </div>

        <div class="col-xs-3">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="afilter" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"  ng-click="setFilter()">Go!</button>
                </span>
            </div>
        </div>
    </header>
    <div class="row no-gutter">
        <actor-thumbnail class="col-xs-3" item="ac" ng-repeat="ac in actors | filter:nameFilter | orderBy:'-updated'">
        </actor-thumbnail>
    </div>
    <ul>
        <li><a ui-sref="actor">Add new Actor</a><br><br></li>
        <li><a ui-sref="home">Go to Home</a></li>
    </ul>
    
    
</div>
