<div class="modal-header">
    <h3 class="modal-title">Add Actors to Movie</h3>
</div>
<div class="modal-body">
    <h1>Select an Actor/Actress</h1>
    Search Actor/Actress: <input type="text" ng-model="query">
    <br><br>
    <div class="row">
        <div class="selectableActor col-md-3 col-sm-4" ng-repeat="actor in Actors | filter:query" ng-click="actor.selected = !actor.selected" ng-class="{selected: actor.selected}">
          <div class="">
              <img class="media-object" ng-src="{{actor.Poster}}" alt="{{actor.Name}}">
          </div>
          <div class="">
            <h4 class="">{{actor.Name}}</h4>
            <span class="label" ng-class="{'label-success': actor.selected, 'label-danger': !actor.selected}">ADDED</span>
          </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="select()">Accept</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>