<div class="container">
    <header class="row no-gutter">
        <div class="col-xs-10">
            <h1>JS MOVIE APP</h1>
        </div>
        <div class="col-xs-2">
            <a ui-sref="home">Return to Home</a>
        </div>
    </header>
    <section ng-if="!editorEnabled">
        <div class="row">
            <movie-thumbnail class="col-xs-6" item="movie">
            </movie-thumbnail>
            <div class="col-xs-6">
                <div class="row">
                    <div>Release Year: {{movie.Release}}</div>
                    <div>Income: {{movie.Income}}</div>
                    <div>Director: {{movie.Director}}</div>
                    <div class="genres">Genres: {{movie.Genres}}</div>
                    <div class="rating">Rating: {{movie.Rating}} / 100 (of {{movie.Raters}} votes)</div>
                    <div class="input-group">
                        <input type="number" class="form-control" ng-model="amount">
                        <span class="input-group-btn">
                            <button type="button" ng-click="rateThis(movie, amount)" class="btn btn-default btn-success">Rate this Movie</button>
                        </span>
                    </div>




                    <div class="btn-toolbar">
                        <div class="btn-group btn-group-lg" role="group" aria-label="...">
                            <button type="button" class="btn btn-default btn-warning" ng-click="enableEditor()">Edit</button>
                        </div>
                        <div class="btn-group btn-group-lg" role="group" aria-label="...">
                            <button type="button" class="btn btn-default btn-danger" really-message="Are you sure you want to remove: {{movie.Title}}?" really-click="deleteMovie(movie)">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="actor-aside">
                        <h2>Actors in this Movie</h2>
                        <div class="actor-list row">
                            <actor-thumbnail class="col-xs-3" item="actor" ng-repeat="actor in relatedActors"></actor-thumbnail>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section ng-if="editorEnabled" class="padding-20">
        <form name="editForm" ng-submit="saveMovie(movie, relatedActors)">
            <div class="form-group" ng-class="{'has-error': !editForm.title.$valid }">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" ng-model="movie.Title" placeholder="Title" required>
            </div>
            <div class="form-group" ng-class="{'has-error': !editForm.about.$valid }">
                <label for="about">About</label>
                <input type="text" class="form-control" id="about" name="about" ng-model="movie.About" placeholder="Small Description" required>
            </div>


            <div class="form-group" ng-class="{'has-error': !editForm.release.$valid }">
                <label for="title">Release Year</label>
                <input type="number" class="form-control" id="release" name="release" ng-model="movie.Release" placeholder="2000" required>
            </div>
            <div class="form-group" ng-class="{'has-error': !editForm.income.$valid }">
                <label for="title">Income</label>
                <input type="number" class="form-control" id="income" name="income" ng-model="movie.Income" placeholder="0" required>
            </div>
            <div class="form-group" ng-class="{'has-error': !editForm.director.$valid }">
                <label for="title">Director</label>
                <input type="text" class="form-control" id="director" name="director" ng-model="movie.Director" placeholder="Director Name" required>
            </div>


            <div class="form-group">
                <label for="genres">Genres</label>
                <input type="text" class="form-control" id="genres" name="genres" ng-model="movie.Genres" placeholder="Genres">
            </div>
            <div class="form-group">
                <label for="image">Poster Image</label>
                <input type="file" id="image" name="image" accept="image/*" ng-model="movie.Poster" file-reader ng-show="!movie.Poster">
                <img ng-src="{{movie.Poster}}" alt="" style="width: 100px" ng-show="!!movie.Poster">
                <button type="button" class="btn btn-default" ng-click="movie.Poster = null" ng-show="!!movie.Poster">Remove Image</button>
            </div>
            <h2>Actors in this Movie</h2>
            <div class="actor-list row">
                <actor-thumbnail class="col-xs-3" item="actor" ng-repeat="actor in relatedActors"></actor-thumbnail>
            </div>
            <button type="button" class="btn btn-default" ng-click="addActors()">Change Actors</button>
            <button type="submit" class="btn btn-success" ng-disabled="!editForm.$valid">Save</button>
            <button type="button" class="btn btn-danger" ng-click="enableEditor()">Cancel</button>
        </form>
    </section>
</div>
