<article class="poster" ng-click="go(item.Id)">
    <div class="poster-image">
        <div class="poster-image--bottom-layer">
            <img ng-src="{{item.Poster}}" alt="{{item.Title}}">
        </div>
    </div>
    <div class="poster-description">
        <h1>{{item.Name}}</h1>
    </div>
</article>